<canvas
    id="gradient-canvas"
    class="fixed bottom-0 left-0 z-0 h-screen w-screen opacity-0"
    data-transition-in></canvas>

<script>
    import { Gradient } from '~/lib/gradient.js'
    import { gsap } from 'gsap'

    const gradient = new Gradient()
    gradient.initGradient('#gradient-canvas')

    function animateCanvas() {
        const canvas = document.querySelector('#gradient-canvas')
        const duration = 3 

        gsap.set(canvas, { opacity: 0 })

        gsap.to(canvas, { opacity: 1, duration, delay: 1.2 })
    }
    document.addEventListener('DOMContentLoaded', () => {
        animateCanvas()
    })
</script>
